# Dados (não versionar)
Dados/

/tcc_env
.venv

# Resultados gerados
results/
Resultados/
GRUPO DE RESULTADOS/

*.csv
.venv310/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Ambiente
.env
